.experience {
  background-color: #ecd7fe;
  padding-bottom: 30px;
  .experience__title {
    text-align: center;
    color: #b40f6f;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
  .experience__container {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .experience__item {
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      max-width: 300px;
      background-color: #fff;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      .experience__item--wrapper {
        .experience__image {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 290px;
            display: block;
            height: 164px;
          }
        }
        .experience__info {
          text-align: center;
          h3 {
            margin: 10px 0px;
          }
          p {
          }
        }
      }
    }
  }
}
