header.header {
  section.header__content {
    width: 96%;
    margin: 0px auto;
    div.header__content--wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .header__left {
        div.header__left--wrapper {
          display: flex;
          align-items: center;
          .header__logo {
            img {
              width: 180px;
              height: 180px;
            }
          }
          .header__info {
            h4 {
              margin-bottom: 10px;
              font-size: 1.125rem;
              font-weight: bold;
            }
            h2 {
              margin-bottom: 15px;
              font-size: 1.6rem;
              font-weight: bold;
            }
          }
        }
      }

      .header__right {
        h5 {
          margin-bottom: 15px;
          font-size: 1rem;
        }
        ul {
          li {
            display: flex;
            margin-bottom: 5px;
            p {
              margin-left: 15px;
            }
            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
  section.header__nav {
    background-color: #1c0878;
    nav {
      ul {
        display: flex;

        li {
          padding: 0px 15px;
          a {
            font-size: 18px;
            display: block;
            padding: 10px 0px;
            color: #ffffff;
          }
        }
      }
    }
  }
}
