.reason {
  .reason__title {
    text-align: center;
    color: #b40f6f;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.6rem;
  }
  .reason__container {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .reason__item {
      .reason__image {
        img {
          width: 150px;
          height: 150px;
        }
      }
      p {
        margin-top: 10px;
        font-weight: bold;
      }
    }
  }
}
