html {
  font-size: 16px;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #f1f1f1;
}
ul,
ol {
  list-style: none;
}
main {
  width: 90%;
  margin: 0px auto;
  background-color: #fff;
}
a {
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
